<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/carrito.css">

<main class="container">

    <h2 id="titulo">Resumen de tu pedido</h2>

    <div class="producto">
        <div class="img">
            <img id="img"
                src="/images/imagenesProductos/gabinete/fullTower/AZZA GABINETE STORM 6000B BLACK GLASS RGB LED FULL TOWER.webp"
                alt="">
        </div>
        <div>
            <div class="contenedor-title">
                <h4 class="title">Azza Gabinete Storm 6000B Black Glass Rgb Led Full Tower</h4>
            </div>
            <div class="cantidad">
                <div><i class="fas fa-minus"></i></div>
                <div>
                    <p>1</p>
                </div>
                <div><i class="fas fa-plus"></i></div>
            </div>
            <div>
                <p class="eliminar">Eliminar</p>
            </div>
            <div>
                <p class="precio">$16.035</p>
            </div>
        </div>
    </div>

    <div class="producto">
        <div class="img">
            <img id="img"
                src="/images/imagenesProductos/placaDeVideo/nvidia/MSI NVIDIA GTX 1660 SUPER GAMING X 6GB DDR6.webp" alt="">
        </div>
        <div>
            <div class="contenedor-title">
                <h4 class="title">MSI Nvidia GTX Super Gaming X 6gb Ddr6</h4>
            </div>
            <div class="cantidad">
                <div><i class="fas fa-minus"></i></div>
                <div>
                    <p>1</p>
                </div>
                <div><i class="fas fa-plus"></i></div>
            </div>
            <div>
                <p class="eliminar">Eliminar</p>
            </div>
            <div>
                <p class="precio">$32.500</p>
            </div>
        </div>
    </div>

    <div class="total">
        <p id="total">Total: $48.535</p>
        <button class="boton">Continuar compra</button>
    </div>

</main>

<%- include("partials/footer") %>