<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/detalle.css">
<div id="main" class="container contenedor">
    <div class="div-izquierda">
        <div class="cont-img">
            <img class="img" src="./images/imagenesProductos/pcGamerArmada/AMD PC GAMER ARMADA RYZEN MASTER RACE.webp" alt="img">
        </div>
    </div>
    <section>
        <article class="titulo">AMD PC GAMER ARMADA RYZEN MASTER RACE</article>
        <ul type="none" class="subtitulo">
            <li class="costo">$65000</li>
            <li><mark> Envio con normalidad</mark></li>
            <li id="nuevo">Nuevo</li>
            <li class="envio">Paga hasta 12 cuotas</li>
            <li><i class="fab fa-cc-visa"> <i class="fab fa-cc-mastercard"></i> <i class="fab fa-cc-paypal"></i></i></li>
            <li></i></li>
            <li class="envio"> Envío gratis a todo el país</li>
            <li><i class="fas fa-truck"></i></li>
            <li id="buton"><a href=""><button class="butontwo">Comprar ahora</button></a><br><a href=""><br><button class="butontwo">Agregar al carrito</button></a></li>

        </ul>
    </section>
    <div> 
        <h3 class="tituloDes">Detalles del producto</h3>  
            <p>
                JUGÁ SIN LIMITES CON EL MEJOR     PROCESADOR!
                AMD RYZEN 5 3600
                ASUS MOTHER B450M-A PRIME
                CRUCIAL 8GB 2666MHZ BALLISTIX SPORT LT RED DDR4
                AEROCOOL FUENTE 600W KCAS 80 PLUS BRONZE
                AEROCOOL CYLON - BLACK RGB
                ASROCK RX 590 8GB PHANTOM GAMING X OC</p>                 
    </div>
    </div>
    <div class="otrosProductos">
        <section class="contenedorProduct">
            <img class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="#">
                <img src="images/imagenesProductos/gabinete/fullTower/AZZA GABINETE STORM 6000B BLACK GLASS RGB LED FULL TOWER.webp"
                    alt="hdd">
                <article class="descripcion"> GABINETE STORM 6000B BLACK GLASS RGB LED FULL TOWER
                </article>
            </a>
        </section>
        <section class="contenedorProduct">
            <img class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="#">
                <img src="images/imagenesProductos/motherboards/amd/ASUS MOTHER ROF CROSSHAIR VII HERO WIFI - X470.webp"
                    alt="">
                <article class="descripcion">ASUS MOTHER ROF CROSSHAIR VII HERO WIFI</article>
            </a>
        </section>
        <section class="contenedorProduct">
            <img  class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="#">
                <img src="images/imagenesProductos/motherboards/intel/ASROCK MOTHER H310CM-HDV-H310.webp"
                    alt="">
                <article class="descripcion">intel/ASROCK MOTHER H310CM-HDV-H310</article>
            </a>
        </section>
        <section class="contenedorProduct">
            <img  class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="">
                <img src="images/imagenesProductos/placaDeVideo/nvidia/ASUS NVIDIA GTX 1650 SUPER PHOENIX OC O4G 4GB DDR6.webp"
                    alt="">
                <article class="descripcion">ASUS NVIDIA GTX 1650 SUPER PHOENIX OC O4G 4GB DDR6
                </article>
            </a>

        </section>
        <section class="contenedorProduct">
            <img  class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="#">
                <img src="images/imagenesProductos/placaDeVideo/radeon/ASUS RADEON RX 5500 XT 8GB DDR6 DUAL OC EVO PCIE 4.0.webp"
                    alt="">
                <article class="descripcion">ASUS RADEON RX 5500 XT 8GB DDR6 DUAL OC EVO PCIE 4.0
                </article>
            </a>

        </section>
        <section class="contenedorProduct">
            <img class="cph" src="./images/sale.webp" alt="">
            <a class="ancla" href="#">
                <img src="images/imagenesProductos/auricularesParlantesYAudio/microfonos/KINGSTON MICROFONO HYPERX QUADCAST.webp"
                    alt="">
                <article class="descripcion">KINGSTON MICROFONO HYPERX QUADCAST
                </article>
            </a>

        </section>
    </div>

</div>


<%- include("partials/footer") %>