<%- include("partials/head") %>

<%- include("partials/header") %>


<div id="main">

  <div id="carousel-lowviewport">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a class="d-block img-fluid" href="/"><img class="img-carousel"
              src="/images/portadaDestacados/portadaMobile1.jpg" alt=""></a>
        </div>
        <div class="carousel-item">
          <a class="d-block img-fluid" href="/"><img class="img-carousel"
              src="/images/portadaDestacados/portadaMobile2.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <div id="carousel-highviewport">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <a class="d-block img-fluid" href="/"><img class="img-carousel" src="/images/portadaDestacados/portada2.png"
              alt=""></a>
        </div>
        <div class="carousel-item">
          <a class="d-block img-fluid" href="/"><img class="img-carousel" src="/images/portadaDestacados/portada3.jpg"
              alt=""></a>
        </div>
        <div class="carousel-item">
          <a class="d-block img-fluid" href="/"><img class="img-carousel" src="/images/portadaDestacados/portada1.jpg"
              alt=""></a>
        </div>
      </div>
    </div>
  </div>

</div>

<main class="container main">

  <div class="info-varia">
    <div class="item-infovaria">
      <div class="div-icono-info"><img class="icono-info" src="/images/shipping.webp" alt=""></div>
      <a class="title-info" href="/">Envios a todo el pais</a>
    </div>
    <div class="item-infovaria">
      <div class="div-icono-info icono-mapa"><img class="icono-info" src="/images/map.webp" alt=""></div>
      <a class="title-info" href="/">Retira en nuestra sucursal ¿Donde estamos?</a>
    </div>
    <div class="item-infovaria">
      <div class="div-icono-info"><img class="icono-info" src="/images/payment.webp" alt=""></div>
      <a class="title-info" href="/">Formas de Pago</a>
    </div>
  </div>

  <div class="separador"></div>

  <div>
    <h2 class="oferta-semana">OFERTAS DE LA SEMANA</h2>
    <div id="producto">
      <section class="producto">
        <a href="/">
          <div class="oferta">
            <img class="img-oferta" src="/images/imagenesProductos/procesadores/intel/INTEL COFFEE LAKE CORE I9 9900K.webp"
              alt="">
            <img class="sale" src="/images/sale.webp" alt="">
          </div>
          <h5>INTEL COFFEE LAKE CORE I9 9900K</h5>
          <div class="free-shipping">Envío gratis </div>
          <div class="precio">
            <scope>$55.196</scope>
            <span>-20%</span>
          </div>
        </a>
      </section>
      <section class="producto">
        <a href="/">
          <div class="oferta">
            <img class="img-oferta"
              src="/images/imagenesProductos/placaDeVideo/nvidia/MSI NVIDIA RTX 2080 SUPER VENTUS XS OC 8GB DDR6.webp"
              alt="">
            <img class="sale" src="/images/sale.webp" alt="">
          </div>
          <h5>MSI NVIDIA RTX 2080</h5>
          <div class="free-shipping">Envío gratis </div>
          <div class="precio">
            <scope>$102.248</scope>
            <span>-20%</span>
          </div>
        </a>
      </section>
      <section class="producto">
        <a href="/">
          <div class="oferta">
            <img class="img-oferta"
              src="/images/imagenesProductos/sillasYButacasGamer/AEROCOOL SILLA GAMER PREMIUM RGB PROJECT7 P7-GC1 AIR.webp"
              alt="">
            <img class="sale" src="/images/sale.webp" alt="">
          </div>
          <h5>AEROCOOL SILLA GAMER PREMIUM</h5>
          <div class="free-shipping">Envío gratis </div>
          <div class="precio">
            <scope>$56.240</scope>
            <span>-20%</span>
          </div>
        </a>
      </section>
      <section class="producto">
        <a href="/">
          <div class="oferta">
            <img class="img-oferta"
              src="/images/imagenesProductos/monitores/monitores/BENQ MONITOR 24 ZOWIE - RL2455S 1MS 75HZ OPTIMIZED FOR CONSOLE.webp"
              alt="">
            <img class="sale" src="/images/sale.webp" alt="">
          </div>
          <h5>BENQ MONITOR 24"</h5>
          <div class="free-shipping">Envío gratis </div>
          <div class="precio">
            <scope>$38.076</scope>
            <span>-20%</span>
          </div>
        </a>
      </section>
    </div>
  </div>

  <div class="separador"></div>

  <div class="tucombo">
    <div>
      <img class="tucombo-img" src="/images/armatupc.webp" alt="">
    </div>
    <div id="tucombo">
      <h3 class="title-armapc">ARMA TU PROPIO COMBO</h3>
      <p class="descripcion">Nuestro armador inteligente te permitirá armar tu PC aunque desconozcas de hardware. No te
        limites y dale rienda suelta a tu imaginación sin cometer errores de compatibilidad.</p>
      <a id="boton" href="/"><button class="boton">Empieza Ya</button></a>
    </div>
  </div>

  <div class="separador"></div>

  <div class="armapc">
    <div class="armapc-img">
      <img class="armapc-img" src="/images/home-intel.webp" alt="">
      <img class="armapc-img" src="/images/home-amd.webp" alt="">
    </div>
    <h3 class="title-armapc">ARMA TU PC</h3>
    <p class="descripcion-armapc">Nuestro armador te permitirá armar tu combo ideal para actualizar tu pc, sin cometer
      errores de compatibilidad.<br>Podes seleccionar las opciones de combos disponibles y renovarte.</p>
    <a id="boton-armapc" href="/"><button class="boton">Empieza Ya</button></a>
  </div>

</main>

<%- include("partials/footer") %>