<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/login">
        <label class="email">Email</label>
        <input type="text" name="user">
        <label class="pww">Contraseña</label>
        <input type="password" name="pass">
        <a href="/olvido" role="button" data-toggle="modal">¿Olvidó su contraseña?</a>
        <input type="submit" class="btn" name="login" value="login">
    </form>
</body>
</html>