<%- include("partials/head") %>

<%- include("partials/header") %>

<% for(let productos of productosJson){ %>
  <h2>El producto es <%= productos.name %></h2>
<%}%>


<%- include("partials/footer") %>