<%- include("partials/head") %>

<%- include("partials/header") %>

<%  for ( let i=0 ; i<productos.length ; i++ ) { %>

    <h2>Nombre de producto: <%= productos.name %></h2>

<% } %>
 

<%- include("partials/footer") %>