<%- include("partials/head") %>

<%- include("partials/header") %>

<% productos.forEach(producto =>{ %>

    <h2>Nombre de producto: <%= producto.name %></h2>

<% }) %> 


<%- include("partials/footer") %>