<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/producto.css">

<div class="container-fluid product">

    <div class="container-nav">

        <div>
            
            <h2>CATEGORIAS</h2>

        </div>

        <div class="nav-items">

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/Procesadores.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Procesadores</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/motherboards.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Motherboard</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/memoriasRam.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Memorias Ram</h3>
                </div>
            </div>
            
            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/placaDeVideo.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Placas de Video</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/almacenamiento.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Almacenamiento</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/gabinete.svg" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Gabinete</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/fuentes.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Fuentes</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/refrigeracion.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Refrigeración</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/conectividad.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Conectividad</h3>
                </div>
            </div>
            
            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/lectoras.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Lectoras</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/monitores.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Monitores</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/perifericos.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Perifericos</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/sillasYButacasGamer.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Sillas y Butacas Gamer</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/auricularesParlantesYAudio.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>Auriculares, Parlantes y Audio</h3>
                </div>
            </div>

            <div class="items">
                <div>
                    <a href="#">
                        <div class="imagen-item">
                            <img class="img" src="/images/imagenesCategorias/pcGamerArmada.png" alt="">
                        </div>
                    </a>
                </div>
                <div>
                    <h3>PC Gamer Armada</h3>
                </div>
            </div>

        </div>

    </div>

    <div>

    </div>

</div>

<%- include("partials/footer") %>