<%- include("partials/head") %>

<%- include("partials/header") %>

<link rel="stylesheet" href="/css/registro.css">
<div class="contenedor  container">

    <div class="titulo">Completá tu datos</div>
    <form method="POST" action="/registro" class="formulario">
        <label class="label" for="nombre">Nombre</label>
        <input class="input" type="text" name="nombre" value="" id="nombre" placeholder="Nombre" />

        <label class="label" for="email">Email</label>
        <input class="input" type="email" name="email" value="" id="email" placeholder="Email" />

        <label class="label" for="password">Contraseña</label>
        <input class="input" type="password" name="password" value="" id="password" placeholder="Contraseña" />

        <label class="label" for="confirm_password">Confirmar Contraseña</label>
        <input class="input" type="password" name="confirm_password" value="" id="confirm_password" placeholder="Contraseña" />

        <div class="pa"><input type="checkbox" name="chk" id="chk" />
            <label for="chk"> Desearia recibir nuestras ofertas y promociones? </label></div>

        <button class="btn" class="submit" name="boton">Registrese</button>
    </form>
</div>
<%- include("partials/footer") %>