<footer id="footer">

    <section>
        <h5 class="footer">Información</h5>
        <ul type="none" style="padding: 0;">
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Atención al Cliente</a></li>
            <li><a href="#">Dirección</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Formas de Pago</a></li>
        </ul>
    </section>

    <section>
        <h5 class="footer">Ayuda</h5>
        <ul type="none" style="padding: 0;">
            <li><a href="#">Envíos</a></li>
            <li><a href="#">¿Cómo comprar en All Hardware</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </section>

    <section>
        <h5 class="footer">Contacto</h5>
        <ul type="none" style="padding: 0;">
            <li><a href="#">Telefono</a></li>
            <li><a href="#">Mail</a></li>
        </ul>
    </section>

</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</body>

</html>