<body>

    <header class="container-fluid header">

        <h1>All Hardware</h1>

        <div class="dropdown menu-desplegable">

            <button id="boton-desplegable" class="dropdown-toggle " data-toggle="dropdown"><i
                    class="icono-desplegable fas fa-align-justify"></i></button>

            <div class="dropdown-menu">

                <a href="/" class="dropdown-item">INICIO</a>

                <div class="dropdown-divider"></div>
                <a href="/productos" class="dropdown-item">PRODUCTOS</a>

                <div class="dropdown-divider"></div>
                <a href="/productos/create" class="dropdown-item">NUEVO PRODUCTO</a>

                <!--<div class="dropdown-divider"></div>
                <a href="arma-tu-pc" class="dropdown-item">ARMA TU PC</a>
                <div class="dropdown-divider"></div>
                <a href="/equipos-armados" class="dropdown-item">EQUIPOS ARMADOS</a>-->
                <% if(locals.logueado) { %>
                <div class="dropdown-divider"></div>
                <a href="https:/www.google.com/" class="dropdown-item">SALIR DEL SISTEMA</a>
                <% } %>
            </div>

        </div>

        <div class="logo">

            <a href="/"><img src="/images/Logo.webp" alt=""></a>

        </div>

        <div class="barra-busqueda">

            <form action="">
                <input type="text" class="busqueda">
                <i class="fas fa-search search-button"></i>
            </form>

        </div>

        <div class="iconos-header">
            <% if(locals.logueado){ %>
                <div style="display: flex"><li><%=locals.logueado.id %></li>
                    <li><%=locals.logueado.name %></li>
                    <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            <% }else{ %>
                <a href="/users/login"><i class="fas fa-user"></i></a>
                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
            <% } %>
        </div>

    </header>