<body>

    <header class="container-fluid header">

        <h1>All Hardware</h1>

        <div class="dropdown menu-desplegable">

            <button id="boton-desplegable" class="dropdown-toggle " data-toggle="dropdown"><i
                    class="icono-desplegable fas fa-align-justify"></i></button>

            <div class="dropdown-menu">

                <a href="/" class="dropdown-item">INICIO</a>

                <div class="dropdown-divider"></div>
                <a href="/productos" class="dropdown-item">PRODUCTOS</a>

                <div class="dropdown-divider"></div>
                <a href="/productos/create" class="dropdown-item">NUEVO PRODUCTO</a>

                <!--<div class="dropdown-divider"></div>
                <a href="arma-tu-pc" class="dropdown-item">ARMA TU PC</a>
                <div class="dropdown-divider"></div>
                <a href="/equipos-armados" class="dropdown-item">EQUIPOS ARMADOS</a>-->
                <% if(locals.logueado) { %>
                    <div class="dropdown-divider"></div>
                    <a href="/users/logout" class="dropdown-item">CERRAR SESION</a>
                <% } %>
            </div>

        </div>

        <div class="logo">

            <a href="/"><img src="/images/Logo.webp" alt=""></a>

        </div>

        <div class="barra-busqueda">

            <form action="/productos" method="GET">
                <input type="search" name="search" placeholder="  Buscar Productos..." class="busqueda"> 
                <button class="lupa"><i class="lupa fas fa-search search-button"></i></button>
                 
            </form>

        </div>

        <div class="iconos-header">
            <% if(locals.logueado){ %>
                <a href="/users/profile"><i class="fas fa-user"></i></a>
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            <% }else{ %>
                <a href="/users/login"><i class="far fa-arrow-alt-circle-up"></i></a>
                <a href="/users/login"><i class="fas fa-shopping-cart"></i></a>
            <% } %>
        </div>

    </header>