<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7d19690cc7.js" crossorigin="anonymous"></script>
    
    
    <link rel="stylesheet" href="/css/homestyle.css">
    <title>All Hardware</title>
</head>
<body>

    <header class="container-fluid header">

        <h1>All Hardware</h1>  

        <div class="dropdown menu-desplegable">
            <button id="boton-desplegable" class="dropdown-toggle " data-toggle="dropdown"><i class="icono-desplegable fas fa-align-justify"></i></button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">INICIO</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">PRODUCTOS</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">ARMA TU COMBO</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">ARMA TU PC</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">EQUIPOS ARMADOS</a>
            </div>
        </div>
        
        <div class="logo">
            <img src="/images/Logo.webp" alt="">
        </div>

        <div class="barra-busqueda">
            <form action="">
                <input type="text" class="busqueda">
                <i class="fas fa-search search-button"></i>
            </form>
        </div>

        <div class="iconos-header">
            <a href="#"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </div> 

    </header>