* {
    color: black;
    text-decoration: none;
    margin: 0;
    font-family: Lato,sans-serif;
    box-sizing: border-box;
}

.contenedor{
    display: grid;
    background-color: #fff;
    grid-template-columns: 2fr 1fr;
    margin-top: 20px;
    border: 1px solid #cfcfcf;
    background-color:rgba(185, 184, 184, 0.055);
    border-radius: 8px;
    padding: 20px 0px 20px 20px;
}

.section {
    margin-top: 20px;
}

.section section a:hover {
    text-decoration: none;
}

li img {
    width: 15%;
}

.cont-img{
    display: flex;
    justify-content: center;
    padding: 46px 0px
}

.img{
    width: 75%;

}

.div-derecho{
    border-bottom:1px solid #cfcfcf ;
    
}


.div-izquierda{
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    
}

.titulo{
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.subtitulo{
    padding-left: 0px;
}

.costo{
    font-size: 31px;
    text-align: center;
    padding-top: 25px;
    }

#nuevo{
    padding-top: 25px;
   
}

.envio{
    padding-top: 25px;
    color:#00a650;
}

#buton{
    padding-top: 25px;
}

.butontwo{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 9px;
    width: 250px;
    height: 41px;   
}

.tituloDes{
    padding-top: 34px;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-left: 10px;
    
}

p{
    padding-top: 23px;
    font-family: sans-serif;
    line-height: 65px;
    padding-left: 10px;
    text-align: justify;    
}

.otrosProductos{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 0px 24px;
}

.otrosProductos section{
    border: 3px solid rgb(238, 235, 235);
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px;
    border-radius: 8px;
}
.otrosProductos section img{
    width: 100px;
}

.contenedorProduct{
    position: relative;
    background-color: #fff;
}

.cph{
    position: absolute;
    width: 36%;
    top: 0px;
    right: -10px;
}


.descripcion{
    padding-top: 20px;
    text-decoration:none;
    font-family: sans-serif;
    font-size: 15px;
}

.container-detalle{
    display: grid;
    grid-template-columns: 2fr 3fr; 
    margin: 0px 40px;
}
.container-galeria{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.galeria{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    
}
.galeria a img{
    width: 90px;
}


@media(max-width: 425px){
    .otrosProductos {
        grid-template-columns: 1fr 1fr;       
    }
    .contenedor {
        grid-template-columns: 1fr;
        margin: 15px 0px;
    }
}