.portada {
    height: 200px;
    background-color: rgba(0, 174, 255, 0.5);
    margin: 20px 50px 120px 50px;
    position: relative;
}

#img-profile {
    border: solid 3px rgb(0, 174, 255);
    background-color: #fff;
    width: 150px;
    border-radius: 5px;
}

.logo-profile {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.errors {
    color: red;
    font-size: unset;
}

.logo-profile img {
    width: 125px;
}

.img-profile {
    position: absolute;
    bottom: -25px;
    left: 10%;
}

.title-profile {
    font-size: revert;
    display: block;
    margin: 30px 50px 0 50px;
}

.datos-usuario li{
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.datos-usuario {
    margin-bottom: 80px;
}

.datos-usuario-edit {
    text-align: left;
    font-size: 30px;
    margin-left: 50px;
    padding-top: 15px;
}

.input {
    text-align: left;
    font-size: 20px;
    margin-left: 50px;
}