body{
    font-family: sans-serif;
    background-color: #f5f5f5;
}


.contenedor{
    position: relative;
    display: flex;
    background-color: #b2bfc4;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;    
 
}
.formulario{
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    padding: 10px;
}

.titulo{
    position: absolute;
    height: 40px;
    width: 450px;
    text-align: center;
    padding-top: 15px;
    background-color:#dee4e4;
 
}
.input{
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    height: 25px;
    padding-left: 5px;
}
.label{
    padding: 2px;
    margin: 2px;
    
    
}
.btn{
    background-color: #dee4e4;
    border-style: double;
    width: 200px;
    position: relative;
    margin: 12 auto;
    height: 25px;
    
}

#chk{
    display: flex;
    width: 15px;
    height: 15px;
    

}
.pa{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}
@media (max-width:570px){
    
    }


@media (min-width:700px){
   
    }
